/* Typography */
html {
    font-size: 16px;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/poppins/Poppins-Regular.otf);
}
@font-face {
    font-family: poppins-bold;
    src: url(./fonts/poppins/Poppins-SemiBold.otf);
}

@font-face {
    font-family: poppins-light;
    src: url(./fonts/poppins/Poppins-Light.otf);
}

h1,h2,h3,h4 {
    font-family: 'poppins-bold';
}

p {
    font-family: 'poppins';
}

b {
    font-family: 'poppins-bold';
}

/* Header */
.banner {
    height: 450px;
    text-align: center;
    background-image: url(../img/banners/7.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*
@media only screen and (max-width: 641px) {
  .banner {
    background-image: url(../img/banners/1.png);
  }
}

@media only screen and (max-width: 769px) {
  .banner {
    background-image: url(../img/banners/2.png);
  }
}

@media only screen and (max-width: 1281px) {
  .banner {
    background-image: url(../img/banners/3.png);
  }
}

@media only screen and (max-width: 1921px) {
  .banner {
    background-image: url(../img/banners/4.png);
  }
}

@media only screen and (max-width: 2561px) {
  .banner {
    background-image: url(../img/banners/5.png);
  }
}

@media only screen and (max-width: 3841px) {
  .banner {
    background-image: url(../img/banners/6.png);
  }
}
*/

.site-title {   
    color: white;
    position: absolute;    
    top: 6rem;
}

.site-desc {
    color: white;
    font-family: 'poppins';
    position: absolute;
    top: 18rem;
}
.site-desc p {
    font-size: 1.4em;
    padding: 1rem;
}

/* for platforms */
#platformsrow img {
    max-width: 75px;
}

/* Body */
.light-gray {
    background-color: #f4f4f4;
}
.gray {
    background-color: #efefef;
    padding: 2em 0 2em 0;
}
.green {
    background-color: #1D1D1D;
    color: white;
}
.space3 {
    height: 3em;
}
.space4 {
    height: 4em;
}
.space5 {
    height: 5em;
}
.space6 {
    height: 6em;
}
.text h1 {
    color: #333;
    font-size: 3em;
    font-weight: 500;
    margin: 1.4em 0 0.2em 0;
}
.text h5 {
    color: #555;
    font-family: 'poppins';
    font-size: 1.05em;
    font-weight: 400;
    margin: 1.4em 0 0.2em 0;
    width: 60%;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    margin: 1.4em 0 0.2em 0;
    width: 50%;
}
.text p {
    color: black;
    font-family: poppins-light;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
}
.media p .subtitle {
    color: #D96579;
    color: #d24ec6;
    font-family: 'poppins';
    font-size: 0.9em;
    font-weight: 600;
    margin: 1em 0 1em 0;
    text-transform: uppercase;
}
.media p .value {
    color: black;
    font-size: 0.9em;
    font-family: 'poppins-light';
    font-weight: 400;
}

/* Footer */
.footer {
    background-color: #1D1D1D;
    padding-bottom: 2em;
}
.footer h1 {
    color: #D96579;
    color: #d24ec6;
    font-family: 'poppins';
    font-size: 1.2em;
    padding-top: 2.4em;
    text-transform: uppercase;
}
.footer p {
    color: white;
    font-family: 'poppins';
    font-size: 1em;
    line-height: 1.6em;
}
.footer a {
    /*border-bottom: 1px dotted white;*/
    color: white;
    color: #D96579;
    color: #d24ec6;
}
.footer a:hover,
.footer a:active {
    border-bottom: 1px solid white;
}

.logo {
    text-align: center;
    margin-top: 2.4em;
    max-width: 240px;
    width: 100%;
}
.logo p {
    clear: all;
}

audio {
    width: 100%;
}